:root {
  --accent-color: #5f8789;
  --text-color: #666666;
  --std-font: "Open Sans";
  --manifold-color: #e1e1e1;
}

#vassaroLogo {
  width: 7rem;
}

.inline-icon {
  height: 13pt;
}

.legendImage {
  width: 2rem;
  margin: 0.2rem;
  display: block;
}

table {
  border-collapse: collapse;
  margin-top: 1rem;
}

tr {
  width: 100%;
}

td {
  width: 50%;
  font-family: var(--std-font);
  color: var(--text-color);
  border-top: 1px solid var(--manifold-color);
  vertical-align: middle;
}

th {
  width: 50%;
  text-align: left;
  font-family: var(--std-font);
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-tabs > li.active, .sidebar-tabs > ul > li.active {
  background-color: var(--accent-color) !important; 
}

.sidebar-header {
  background-color: var(--accent-color) !important;
}

body {
	margin: 0;
	padding: 0;
  font-family: var(--std-font);
  font-size: 12pt;
}

p {
  color: var(--text-color);
}

html,
body,
#map {
	height: 100%;
	width: 100vw;
	z-index: 0;
}

.leaflet-control-layers {
  border: none !important;
  background: none !important;
  width: 100% !important;
}

.leaflet-touch .leaflet-bar a {
	width: 40px;
	height: 40px;
	line-height: 40px;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
	font: bold 40px 'Lucida Console', Monaco, monospace;
	text-indent: 0px;
	border: none
}

.leaflet-touch .leaflet-control-zoom-in,
.leaflet-touch .leaflet-control-zoom-out {
	font-size: 40px;
	margin: 0px;
	border: none
}

.leaflet-layerstree-header-name {
    font-size: 12pt;
    font-weight: normal;
    margin-left: 5px;
}

.leaflet-layerstree-header {
	width: auto;
	display: block;
}

.leaflet-layerstree-children {
	padding-left: 30px;
}

.leaflet-touch .leaflet-bar {
	border: none;
}

.leaflet-control-locate a .leaflet-control-locate-location-arrow {
	/* display: inline-block; */
  margin: 10px !important;
	width: 20px !important;
	height: 20px !important;
	text-indent: 0px;
}
